*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background:#e7ecf1;
}
@media only screen and (max-width:750px){

    .container{
        display: flex;
        flex-direction: column;
    }
    .greet-text{
        font-size: 1.45em;
        position: relative;
        left: 55px;
        bottom: 150px;
    }
    .form-div{
        position: relative;
        bottom: 200px;
        left:30px;
    }
}
.container{
    display: flex;
    margin : auto;
}
.fb-logo{
    font-size: 2.5em;
    font-weight: bold;
    color:  rgba(32, 98, 241, 0.877);
}
.greet-text{
    margin: 185px 150px auto 25px;
    font-size: 1.45em;
}
.form{
    border: 3px solid rgb(234, 249, 250);
    border-radius: 10px;
    padding: 10px;
    margin:  100px 65px 14px 30px;
    background:#ffffff ;
}
.text-field{
    height: 50px;
    width: 350px;
    border:2px solid #e7ecf1;
    border-radius: 5px;
    margin-bottom: 8.5px;
    font-size: 1.1em;
}
.text-field:hover{
    border: 2.5px solid rgba(32, 98, 241, 0.877);
}
.login-button{
    height: 40px;
    width: 350px;
    border-radius: 5px;
    background: rgba(32, 98, 241, 0.877);
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom:10px;
}
a{
    text-decoration: none;
    color:  rgba(32, 98, 241, 0.877);
}
.form-link{
    font-size: 1.05em;
    text-align: center;
    margin-bottom: 20px;
}
.create-btn{
    width: 225px;
    height: 55px;
    border: 1px solid rgb(17, 206, 64);
    background:rgb(17, 206, 64);
    font-size: 1.2em;
    font-weight: bold;
    color:#ffffff;
    border-radius: 5px;
    margin: 25px 55px;
}
.full-hl{
    text-align: center;
    font-size: 0.8em;
}
.hl{
    font-weight: bold;
}
footer{
    height: 28vh;
    width: 100vw;
    background:#ffffff;
}
.foot-container{
    width: 65%;
    height: 80%;
    margin: 255px auto 0px auto;
}
.lang-select{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
div ul li a{
    margin: 5px;
    font-size: 0.8em;
    color:rgb(6, 18, 19);
    margin-bottom: 15px;
}
img{
    width: 20px;
}
.toggle-display{
    display:none;
    background: rgb(17, 17, 17);
    font-size: 0.78em;
    color:#e7ecf1;
}
.list-toggle:hover .toggle-display{
    display: block;
}
.list-two{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}
.copy-right{
   font-size: 0.7em; 
   margin-top: 5px;
}